<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Up Votes</th>
      <th>Down Votes</th>
      <th>Date de création</th>
      <th>Date de mise à jour</th>
    </tr>
    </thead>
    <tbody id="posts">
    <% posts.each do |p| %>
    <tr>
    <td><%= link_to truncate(p.title, separator: ' '), post_path(p) %></td>
    <td><%= truncate(p.content, separator: ' ')%></td>
    <td><%= p.get_likes.size %></td>
    <td><%= p.get_dislikes.size %></td>
    <td><%= p.created_at.to_date %></td>
    <td><%= p.updated_at.to_date %></td>
     </tr>
    <% end %>
    </tbody>
  </table>
  <hr>
  <div class="row">
    <div class="col-md4 col-md-offset-4 text-center">
      <%= will_paginate posts, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>