<!DOCTYPE html>
<html>
<head>
  <title>HallOfFame</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>
  body { padding-top: 40px; }
  @media screen and (max-width: 768px) {
  body { padding-top: 0px; }
  }
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
</head>
<header>
	<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=<%= root_path.to_s%> >
          Logo
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><%=link_to "Index", posts_path%><span class="sr-only">(current)</span></a></li>
          <li><a href="#"><%=link_to "Random", posts_path%>  </a> </li>
          <li><a href="#"><%=link_to "Top", posts_path%> </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as <%= current_user.nickname%><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><%=link_to "Voir Profil", posts_path %></a></li>
              <li><a href="#"><%=link_to "Mes Posts",posts_path %> </a></li>
              <li><a href="#"><%= link_to "Poster", new_post_path%></a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#"><%= link_to "Deconnexion", destroy_user_session_path, :method => :delete %></a> </li>

            </ul>
          </li>
          <% else %>
            <button type="button" class="btn btn_default navbar-btn"><%= link_to "Connexion", new_user_session_path %></button>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
<body>
	<div class="container-fluid">
	  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <%= yield %>
        </div>
      <div class="col-md-1"></div>
      </div>
  </div>
</body>
</html>
