<%= bootstrap_form_for @new_comment do |f| %>
  <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
<%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
<div class="field">
  <%= f.text_area :body, class: 'form_control', label: "Commenter" %>
</div>
<div class="field">
  <%= f.submit "Poster commentaire", class: 'btn btn-primary' %>
</div>
<%end%>