<h1>Nouveau Post</h1>
<%= bootstrap_form_for(@post) do |f| %>
<div class="container-fluid">
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-8">
  	<%= f.text_field :title, label: "Titre" %>
  	<%= f.text_area :content, label:"Description du post" %>
    <%= f.label :image do %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
        <% end %>
    <br/>
  	<%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
</div>
</div>
</div>
