<div class="col-md2 col-md-offset-5">
<h1>Posts#random</h1>
<h1>Liste de posts random</h1>
	<% @post.each do |a| %>
   <div class="row">
	<h3><%= link_to a.title, post_path(a) %></h3>
	<p> <%= a.content %></p>
    <%=image_tag a.image_url.to_s %>
      </div>
   <% if signed_in? %>
  <button type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      <%= link_to a.get_likes.size, upvote_post_path(a), class: 'vote', method: :put %>
  </button>
  <button type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
      <%= link_to link_to a.get_dislikes.size, downvote_post_path(a), class: 'vote', method: :put %>
  </button>
   <% end %>
	<% end %>
  <%= will_paginate @post, renderer: BootstrapPagination::Rails %>
</div>
