<div class="center_block">
  <div class="row">

  <h1><%= @post.title %></h1><br>
  <p> <%= @post.content %> </p>
  <%= image_tag @post.image_url.to_s %>
    <% if signed_in? %>
      <%= link_to "Vote Up", upvote_post_path, class: 'vote', method: :put %>
      <%= link_to "DownVote", downvote_post_path, class: 'vote', method: :put %>
        <%= render partial: "comments/template", locals: {commentable: @post, new_comment: @comment} %>
        <% else %>
    <%= link_to "Se connecter pour intéragir...", new_user_session_path %>
        <% end %>
   </div>
   </div>